@keyframes levitate {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}

#atom{
    animation: levitate 2s ease-in-out infinite;
}

#name:hover{
    scale: 1.1;
    cursor: url(./cursor.svg), auto;
    transition: all 0.3s ease;
}

#description:hover{
    cursor: url(./cursor.svg), auto;
}

#navbar a:hover{
    color: var(--slate);
    transition: all 0.3s ease;
}   

.aboutCard:hover{
    scale: 1.05;
    cursor: url(./cursor.svg), auto;
    transition: all 0.3s ease;
}

.hardwareProject:hover{
    scale: 1.05;
    transition: all 0.3s ease;
}

.cadProject:hover{
    scale: 1.05;
    transition: all 0.3s ease;
}

.softwareProject:hover{
    scale: 1.05;
    transition: all 0.3s ease;
}

.contactDiv:hover{
    scale: 1.1;
    transition: all 0.3s ease;
    .contactimg{
        scale: 1.2;
        transition: all 0.2 ease;
    }
}