/* General Section */

:root{
    --smoke: #e0e6ed;
    --blue: #338eda;
    --cyan: #5bc0de;
    --green: #33d6a6;
    --yellow: #f1c40f;
    --orange: #ff8c37;
    --red: #ec3750;
    --purple: #a633d6;
    --muted: #8492a6;
    --slate: #3c4858;
    --steel: #273444;
    --black: #1f2d3d;
    --darkless: #252429;
    --dark: #17171d;
    --darker: #121217;
    --darkest: #000000;
    --lightest: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    cursor: url(./SVGs/cursor.svg), auto;
}

body{
    background: linear-gradient(180deg, var(--smoke), var(--darkless));
    font-family: "Public Sans", "Sans Serif";   
    background-repeat: no-repeat;
    min-height: 850vh;
    overflow-x: hidden;
}

h1{
    font-size: 10rem;
    font-weight: 700;
}

p{
    font-size: 2.2rem;
    font-weight: 600;
}

a{
    text-decoration: none;
    color: var(--steel);
    font-weight: 600;
}


/* Home Section */

#name{
    font-weight: 700;
    position: absolute;
    top: 170px;
    left: 20px;
    background: linear-gradient(90deg, var(--blue), var(--cyan));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    cursor: default;
}

#description{
    position: relative;
    font-style: bold;
    top: 360px;
    left: 30px;
    width: 750px;
    color: var(--slate);
    cursor: default;
}


/* Navbar */

#navbar{
    position: fixed;
    top: 30px;
    left: 30px;
    display: flex;
    gap: 20px;
    list-style: none;
    font-family: "Public Sans", "Sans Serif";
    font-size: 1.8em;
    background-color: var(--red);
    padding: 20px 40px;
    border-radius: 20px;
    z-index: 3;
}


/* About Section */

#about{
    position: absolute;
    top: 600px;
    left: 30px;
    width: 750px;
    height: 400px;
}

#aboutHeading{
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 3em;
    font-weight: 100;
    background: linear-gradient(90deg, var(--yellow), var(--red));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

#aboutCards{
    position: absolute;
    top: 100px;
    left: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.aboutCard{
    background-color: var(--blue);
    padding: 20px;
    border-radius: 20px;
    font-size: 1.5em;
    width: 1150px;
}

.aboutCard h3{
    color: var(--slate);
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 10px;
}

.aboutCard p{
    color: var(--smoke);
    font-size: 1.2em;
    font-weight: 400;
}


/* Projects' Section */

#projects{
    position: absolute;
    top: 200px;
}

#projectCards{
    position: absolute;
    top: 1630px;
    left: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

#projectCards h3{
    font-size: 3.5em;
    font-weight: 700;
    margin-bottom: 10px;
}

.projectBranchCard{
    width: 1150px;
    height: fit-content;
    background-color: var(--yellow);
    border-radius: 20px;
    color: var(--slate);
    padding: 20px;
}

#hardwareCard{
    background-color: var(--green);
}

#softwareCard{
    background-color: var(--blue);
}


.projectGrid{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

#projectsHeading{
    position: absolute;
    top: 1520px;
    left: 30px;
    font-size: 3em;
    font-weight: 100;
    background: linear-gradient(90deg, var(--yellow), var(--red));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}


.hardwareProject h4{
    color: var(--slate);
}

.cadProject h4{
    color: var(--slate);
}

.softwareProject h4{
    color: var(--slate);
}

.hardwareProject{
    background: var(--green);
    background-color: var(--muted);
    border-radius: 20px;
    color: var(--smoke);
    padding: 20px;
}

.cadProject{
    background-color: var(--muted);
    border-radius: 20px;
    color: var(--smoke);
    padding: 20px;
}

.softwareProject{
    background-color: var(--muted);
    border-radius: 20px;
    color: var(--smoke);
    padding: 20px;
}

.projectGrid h4{
    font-size: 1.9em;
    font-weight: 800;
    margin-bottom: 10px;
}


/* Contact Section */

#contactHeading{
position: absolute;
    top: 4770px;
    left: 30px;
    font-size: 3em;
    font-weight: 100;
    background: linear-gradient(90deg, var(--yellow), var(--red));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

#contactbg{
    position: absolute;
    top: 4780px;
    left: -70px;
}