:root{
    --smoke: #e0e6ed;
    --blue: #338eda;
    --cyan: #5bc0de;
    --green: #33d6a6;
    --yellow: #f1c40f;
    --orange: #ff8c37;
    --red: #ec3750;
    --purple: #a633d6;
    --muted: #8492a6;
    --slate: #3c4858;
    --steel: #273444;
    --black: #1f2d3d;
    --darkless: #252429;
    --dark: #17171d;
    --darker: #121217;
    --darkest: #000000;
    --lightest: #ffffff;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--smoke);
    font-family: "Public Sans", "Sans Serif";
}

h1{
    font-size: 10rem;
    font-weight: 700;
}

p{
    font-size: 2.2rem;
    font-weight: 600;
}

#name{
    font-weight: 700;
    position: absolute;
    top: 30px;
    left: 20px;
    background: linear-gradient(90deg, var(--blue), var(--cyan));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

#description{
    position: relative;
    font-style: bold;
    top: 220px;
    left: 30px;
    width: 700px;
    color: var(--green);
}